[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggplate"]
	path = ggplate
	url = https://github.com/jpquast/ggplate
[submodule "protti"]
	path = protti
	url = https://github.com/jpquast/protti
